# Usar PHP 8.3
AddHandler application/x-httpd-php83 .php

# Proteger archivos sensibles
<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "api-middleware.php">
    Order Allow,Deny
    Deny from all
</Files>

# Permitir acceso a la carpeta api
<Directory "api">
    Order Allow,Deny
    Allow from all
</Directory>
